<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>BBS</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <a href="/bbs/logout">ログアウト</a>
      <h1>ビギクラ! BBS</h1>
    </header>
  </div>

  <div class="container">
    <div class="row" id="inputbox">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="descriptionbox">
          <h2>掲示板への投稿</h2>
          <p>
            投稿すると一覧の下に投稿内容が表示されます。投稿したときのモニターの表示を見ながら色々試してみましょう。
          </p>
        </div>

        <div id="bbsentrybox">
          <form action="/bbs/post" method="post">
            <fieldset>
              <div class="form-group">
                <label for="inputTitle">タイトル</label>
                <input type="text" id="inputTitle" name="title" class="form-control">
              </div>
              <div class="form-group">
                <label for="inputBody">本文</label>
                <textarea name="body" class="form-control" rows="5"></textarea>
              </div>
              <div class="form-group text-center">
                <input type="hidden" name="owner" value="<%- owner %>">
                <button type="submit" class="btn btn-primary">投稿</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div class="row" id="bbsbox">
      <h2>一覧</h2>
      <% for (const row of rows) { %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="70%">タイトル：<%- row.title %> </th>
            <th class="postowner">投稿者：<%- row.owner %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
                <%- row.body %>
            </td>
          </tr>
        </tbody>
      </table>
      <% } %>
    </div>
  </div>

</body>
</html>
